<% include partials/header.ejs%>


    
    <script language="javascript" type="text/javascript" src="/function_1.js"></script>
    
    
    <link rel="stylesheet" type="text/css" href= "/mainpage.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
    
    
	<nav class="navbar navbar-default" style=" background-color: #000000; border-left: 0px; border-right: 0px; border-top: 0px;">
  			<div class="navbar-header" style="display: inline-block;">
      		<a class="navbar-brand" href="#">Favourites</a>
      		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="sr-only"> </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
    	</div>
    	<div class="collapse navbar-collapse" id="myNavbar">
		<div class="container" style="padding-left: 50px; padding-right: 50px;">
    		
    	<ul class="nav navbar-nav" >
    		<form action="/result" method="POST" onsubmit="return check(1)" style="display: inline-block; vertical-align: middle; height: 0px;" >    	
      			<input type="text" name="search" placeholder="Search..." id="ticket" style="background:#000000; border-bottom: 1px; border-left: 0px; border-right: 0px; border-top: 0px;">
      			<BUTTON id="b1" style="border-radius: 25px; background:#000000 ; border-left: 0px; border-right: 0px; border-top: 0px;">Submit </BUTTON>
    		</form>
    	</ul>
    	
    	<ul class="nav navbar-nav navbar-right " style="display: inline-block;vertical-align: middle;">
      		<li><a href="#" >Welcome <%=name%></a></li>
      		<li><a href="/favorite" >My Favorites</a></li>
      		<li><a href="/logout" >Logout</a></li>
      	</ul>
      </div>
  	</div>
  </div>
	</nav>

    <!--<div class="scrollmenu" onmouseover="overflw(1)"  onmouseout="overflw(0)" id="menu">-->
    
    <!--< var val =0 ; data["tv_shows"].forEach(function(show){ %>-->
    <!--    <div style="display:inline-block;">-->
    <!--    <h6 style="color: #ffffff;text-align: center"><=show["name"]%></h6>-->
    <!--    <div style="display:block; align: center;" >-->
    <!--    <img src=<=show["image_thumbnail_path"]%> alt="Smiley face" height="180" width="130">-->
    <!--    </div>-->
    <!--    <div style="display:block; align: center;">-->
    <!--    <form action = "/favorite" method="POST">-->
    <!--    <label style="color: #ffffff; font-size: 10px; text-align: center"><input type="checkbox" value="<=show["id"]+"#"+show["name"]+"#"+show["image_thumbnail_path"]%>" name="favorite" id="<= val%>" onChange="this.form.submit()">Add to Favorites</label>-->
    <!--    </form>-->
    <!--    </div>-->
    <!--    </div>-->
    <!--<val++ }) %>-->
    <!--</div>-->
    <div style="text-align:center;">
    <div class="scrollmenu1" style="display:inline-block;" onmouseover="overflw(1)" onmouseout="overflw(0)" id="menu">
    <h3 style="color:#ffffff">Popular Tv Shows</h3>
    <% data["tv_shows"].forEach(function(show){%>
        <div style="display: inline-block;">
        <h5 style=" color:#ffffff;text-align:center; margin-top: 50px;">(<%=show["name"]%>)</h5>
        <form action="/tvshow" method="POST" >
          <input type="text" style="visibility: hidden;"  value="<%=show["id"]%>" name="tvid">
        <div style="display: block"  >
        <input type="image" src="<%=show["image_thumbnail_path"]%>" style="height:180px; width:130px;" value= onClick="this.form.submit()" >
        </form>
        </div>
        <div style="display: block; text-align: center;">
          <form action="/favorite" method="POST">
          <input type="text" style="visibility: Hidden;"  value="<%=show["id"]+"#"+show["name"]+"#"+show["image_thumbnail_path"]%>" name="favorite">
          <button style="background: #000000; display: block;margin-left: auto;margin-right: auto; border-radius: 20px;" onClick="this.form.submit()">Add as favorites</button>
          </form>
        </div>
        </div>
    <% }) %>
    </div>
    </div>
    
    
    
<% include partials/footer.ejs%>
